# General dependencies
numpy
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py

# ONNX-related (latest working versions in Colab)
onnx==1.18.0
onnxruntime==1.22.0
onnx-simplifier==0.3.5
